# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Local dictionary updates
dictionaries/
# Code inspection settings
inspectionProfiles/
# Other configuration files
perl5local.xml
editor.xml
